html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    color: #fff;
    background: rgba(18, 18, 19, 0.96);
    display: flex;
}
.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: rgba(37, 38, 40, 0.56);
}
/* nav start */
.navdis{
    margin-top: .1%;
    /* border: 1px solid #fff; */
    width: 100%;
    height: 10%;
    display: flex;
    box-shadow: 0px 3px 3px red;
}
.comp-name,.navlinks,.nav-icon{
     /* border: 1px solid #fff; */
    height: 100%;
}
.comp-name{
    min-width: fit-content;
    padding-right: 1%;
    height: 100%;
    width: 20%;
    display: flex;

}
.comp-name p{
    font-size: 200%;
    height: fit-content;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: line-through;
    margin: auto;
}
.navlinks{
    width: 60%;
    margin: auto;
    height: 100%;
    display: flex;
}

.navlinks li{
    width: calc(100%/3);
    height: 100%;
    list-style-type: none;
    display: flex;
}
.navlinks li:hover{
    transition: all 1.5s;
     
    background: rgba(0, 255, 38, 0.258);
}
.navlinks li a{
    margin: auto;

}
.nav-icon{
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.navpic{
    
    margin: auto;
    height: 65%;
    width: 65%;
    border-radius: 100%;
    border: 1px dotted;
}

.navname{
    height: 25%;
    width:100%;
    display: flex;

}
.navname p {
    margin: auto;
}

/* content begin */

.content{
    height: 100%;
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
}
.the-divs{
    /* border: 1px solid white; */
    height: 70%;
    width: 90%;
    display: flex;
    margin: auto;

}

.leftdiv, .rightdiv{
    box-shadow: 3px 3px 3px rgb(175, 3, 3), -3px -3px 2px rgb(228, 180, 4);
    margin: auto;
    border-radius: 20%;
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: column;
    transition: box-shadow 3s;
    text-align: center;
}
.leftdiv:hover, .rightdiv:hover{
    box-shadow: -3px -3px 3px rgb(175, 3, 3), 3px 3px 2px rgb(228, 180, 4);
}
.leftheader{
    height: 30%;
    width: 95%;
    display: flex;
    margin: auto;
}
.leftdesc{
    margin: auto;
    width: 90%;
    height: 60%;
}
.leftheader p{
text-align: center;
font-size: xx-large;
    margin: auto;
}
.leftdesc p{
    text-align: center;
    font-size: large;
    margin: auto;
}

.login-sign{
    display: flex;
    box-shadow:inset .3px .3px 1px rgba(175, 3, 3,.3), inset -.3px -.3px 1px rgba(228, 180, 4,.2);
    height: 20%;
    width: 80%;
    margin: auto;
}
.login-b, .sign-b{
    box-shadow: 1px 1px 1px rgb(175, 3, 3), -1px -1px 1px rgb(228, 180, 4);
    height: 45%;
    margin: auto;
    width: 30%;
    display: flex;
    border-radius: 10%;
}
.login-b:hover, .sign-b:hover{
    transition: box-shadow 3s;
    box-shadow: -2px -2px 1px rgb(175, 3, 3), 2px 2px 1px rgb(228, 180, 4);
}

.login-b button, .sign-b button{
    font-size: large;
    font-weight: 600;
    color: #fff;
    border: none;
    background-color: inherit;
    width: 100%;
}

.sign-b button:hover{
    border-radius: 10%;
    background: rgba(34, 33, 33, 0.373);
}
.login-b button:hover{
    border-radius: 10%;
    background: rgba(2, 78, 44, 0.173);
}


/* forms */
/* sign up */
.signup-form{
    display: none;
    position: absolute;
    margin: 15% 25%;
    border: 1px solid gray;
    box-shadow: 1px 1px   rgba(23, 3, 175, 0.577),-1px -1px  rgba(175, 3, 3, 0.354);
    width: 50%;
    height: 60%;
    flex-direction: column;
    background: 
    /* linear-gradient(10deg,transparent,transparent,rgba(3, 118, 160, 0.474)),
    linear-gradient(90deg,transparent,transparent,rgba(97, 11, 234, 0.604)),
    linear-gradient(180deg,transparent,transparent,rgba(15, 240, 124, 0.5)),
    linear-gradient(280deg,transparent,transparent,rgba(97, 13, 233, 0.715)),
    linear-gradient(0deg,transparent,transparent,rgba(4, 184, 109, 0.506)), */
    rgba(18, 18, 19, 0.96);
}
.signup-head{
    width: 100%;
    height: 20%;
    display: flex;
    border-bottom: 2px solid rgba(0, 255, 38, 0.858);
}
h1{
    height: 20%;
    margin: auto;
}
.signup-form form{
    display: flex;
    flex-direction: column;
    height: 80%;
}
.signup-form form input, .login-form form input{
    color: #fff;
    font-weight: 200;
    font-size: large;
    outline: none;
    border: 1px solid rgb(83, 118, 2);
    background: rgba(105, 154, 112, 0.358);
    height: calc(100%/7);
    margin: auto;
    width: 80%;
}
.signup-form form button , .login-form form button{
    box-shadow: 1px 1px   rgb(20, 19, 24),-1px -1px  rgb(23, 17, 17);
    border: none;
    background-color: rgba(0, 255, 38, 0.358);
    color: #fff;
    height: calc(100%/7);
    margin: auto;
    font-weight: 700;
    font-size: large;
    width: 45%;
}

.login-form{
    display: none;
    position: absolute;
    margin: 15% 25%;
    border: 1px solid gray;
    box-shadow: 1px 1px   rgba(23, 3, 175, 0.577),-1px -1px  rgba(175, 3, 3, 0.354);
    width: 40%;
    height: 45%;
    flex-direction: column;
    background: 
    rgba(18, 18, 19, 0.96);  
}

.login-head{
    width: 100%;
    height: 20%;
    display: flex;
    border-bottom: 2px solid rgba(0, 255, 38, 0.858);
}
h1{
    height: 20%;
    margin: auto;
}
.login-form form{
    display: flex;
    flex-direction: column;
    height: 80%;
}
.login-form form input{
    height: 20%;
}
.login-form form button{
    height: 20%;
}

.s-uname-alert{
    margin: auto;
    text-align: center;
    font-size: small;
}

.profile{
    display: none;
    flex-direction: column;
    position: absolute;
    margin: 5% 25%;
    height: 70%;
    width: 50%;
    background: rgba(20, 19, 24,.8);
    box-shadow: inset 1.5px 1.5px rgb(140, 128, 128),inset -1.5px -1.5px rgb(140, 128, 128) ;
}
.profileCollapse{
    height:5%;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}
.profileCollapseButton{
    font-size: larger;
    width: 10%;
    background: none;
    border: none;
    padding: 1%;
    font-weight: bolder;
    color: #fff;
}
.profileHeader{
    display: flex;
    width: 100%;
    height: 10%;
    border-bottom: 1px dotted rgb(175, 3, 3);
    
}
.profileHeader p{
    font-size: 200%;
    margin: auto;
}
.profile .profileDetails{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
.profile .profileDetails form{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.profile .profileDetails .updateEmail , .profile .profileDetails .updateUserN{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.errMessage{
    height: 10%;
}
.errMessage p {
    font-size: 1rem;
    height: fit-content;
    text-align: center;
    margin: 0;
    color: red;

}
.profile .edit-username, .profile .edit-email, .edit_submit {
    display: flex;
    height: 100%;
    width: 100%;
}
.profile .edit-username input, .profile .edit-email input{
    display: flex;
    height: 50%;
    width: 70%;
    margin: auto;
    background: rgba(55, 55, 55, 0.458);
    color: #fff;
    border: none;
    outline: none;
    font-size: 1.2rem;
}
.profile .edit-username label, .profile .edit-email label{
    display: flex;
    height: 50%;
    font-size: 1.2rem;
    width: 20%;
    margin: auto;
}
.edit_submit input{
    height: 40%;
    margin: auto;
    background: rgba(0, 255, 38, 0.858);
    border: none;
    font-weight: 700;
}
.logOutDiv{
    height: 15%;
    width: 100%;
    display: flex;
    
}
.logOutDiv form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    border: none;
}
.logOutDiv input{
    height: 70%;
    width: 40%;
    font-weight: 700;
    background: rgba(242, 36, 36, 0.75);
    color: #fff;
    border: none;
    margin: auto ;
}
.deleteAccount{
    height: 15%;
    width: 100%;
    display: flex;
}
.deleteAccount form{
    height: 100%;
    width: 100%;
    display: flex;
}
.deleteAccount form input{
    height: 80%;
    width: 50%;
    margin: auto;
    color: #fff;
    font-weight: 700;
    border: none;
    background: rgba(215, 11, 11, 0.866);
}
.edit_submit input:hover{
    background: rgba(162, 248, 3, 0.881);
    box-shadow: 1px 1px  rgba(81, 0, 255, 0.258), -1px -1px rgba(43, 0, 255, 0.258);

}
.logOutDiv input:hover{
    background: rgba(229, 3, 3, 0.961);
    box-shadow: 1px 1px  rgba(0, 255, 38, 0.258), -1px -1px rgba(0, 255, 38, 0.258);


}
.deleteAccount input:hover{
    background: rgba(219, 50, 4, 0.986);
    box-shadow: 1px 1px  rgba(16, 19, 16, 0.258), -1px -1px rgba(8, 13, 9, 0.258);
}




@media only screen and (min-width: 800px) {    
    .navdis{
        height: 20%;
        
    }
    .comp-name{
        font-size: 270%;
    }
    .leftdiv, .rightdiv{
        box-shadow: 3px 3px 3px rgb(175, 3, 3), -3px -3px 2px rgb(228, 180, 4);
        margin: auto;
        border-radius: 20%;
        width: 30%;
        height: 95%;
    }
    .leftheader p {
        font-weight: 600;
    font-size: 250% !important;
    }
    .leftdesc{
        font-size: 130%;
    }

    .login-b, .sign-b{
        margin: auto;
        width: 45%;
        height: 80%;

    }
    .login-sign{
        /* border: 1px solid red; */
        margin: auto auto;
        width: 40%;
    }
    .login-b button, .sign-b button{
        font-size: 200%;
    }
    
.signup-form{
    margin: 0 32.5%;
    border: 1px solid gray;
    width: 35%;
    
}
.login-form{
    height: 50%;
    width: 30%;
    margin: 10 35%;
}
.profile{
    width: 30%;
    
    margin: 5% 35%;
}
}

    
