/* Default */
.fill {
    width: 100%;
    height: 100%;
}

.link {
    text-decoration: none;
    color: inherit;
}

.j-sa {
    justify-content: space-around;
}

.j-sb {
    justify-content: space-between;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.p-tag {
    margin: auto;
    width: 90%;
}

.m-0 {
    margin: 0;
}

.border {
    border: 1px solid;
}

.card-icons {
    width: 40px;
    height: 40px;
    transform: rotate(90deg);
}

.text-center {
    text-align: center;
}

.color-green {
    color: green;
}

.contact-svg {
    height: 16px;
    width: 16px;
}

/* main div */
.main-div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 400px 400px 400px 400px 150px;
}

.sub-div {
    width: 100%;
    height: 100%;
    box-shadow: 0 -1px rgba(50, 50, 50, .5);
}