.d-none {
    display: none;
}

.border {
    border: 1px solid;
}

.d-none {
    background: inherit;
}

.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    width: 90%;
    height: 100%;
}

.fill {
    width: 100%;
    height: 100%;
}

.d-flex {
    display: flex;
}

.m-auto {
    margin: auto;
}

.m-auto-hor {
    margin: 0 auto;
}

.m-auto-vert {
    margin: auto 0;
}

.flex-col {
    display: flex;
    flex-direction: column;
}