*{
    margin: 0;
    padding: 0;
}
.login-cont {
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(10deg,
            rgba(22, 22, 22, .7), transparent,
            rgba(22, 22, 22, .4), transparent,
            rgba(22, 22, 22, .3), transparent,
            rgba(22, 22, 22, .4), transparent);
}