@keyframes pop {
    0% {
        background:
            linear-gradient(36deg, red,
                black,
                green, black,
                blue);
    }

    20% {
        background:
            linear-gradient(72deg, red,
                black,
                green, black,
                blue);
    }

    30% {
        background:
            linear-gradient(108deg, red,
                black,
                green, black,
                blue);
    }

    40% {
        background:
            linear-gradient(144deg, red,
                black,
                green, black,
                blue);
    }

    50% {
        background:
            linear-gradient(180deg, red,
                black,
                green, black,
                blue);
    }

    60% {
        background:
            linear-gradient(216deg, red,
                black,
                green, black,
                blue);
    }

    70% {
        background:
            linear-gradient(252deg, red,
                black,
                green, black,
                blue);
    }

    80% {
        background:
            linear-gradient(288deg, red,
                black,
                green, black,
                blue);
    }

    90% {
        background:
            linear-gradient(324deg, red,
                black,
                green, black,
                blue);
    }

    100% {
        background:
            linear-gradient(360deg, red,
                black,
                green, black,
                blue);
    }
}

@keyframes play-b {
    25% {
        box-shadow: inset 2px 2px rgba(233, 3, 160, 0.808),
            inset -2px -2px rgba(233, 3, 160, 0.808);
        border: 1px solid;
    }

    50% {
        box-shadow: inset 5px 5px rgba(233, 3, 160, 0.808),
            inset -5px -5px rgba(233, 3, 160, 0.808);
        border: 2px solid;
    }

    75% {
        box-shadow: inset 3px 3px rgba(233, 3, 160, 0.808),
            inset -3px -3px rgba(233, 3, 160, 0.808);
        border: 3px solid;
    }

    100% {
        box-shadow: inset 1px 1px rgba(233, 3, 160, 0.808),
            inset -1px -1px rgba(233, 3, 160, 0.808);
        border: 1.5px solid;
    }


}

@keyframes board {
    30% {
        transform:
            perspective(50em) rotateX(42deg) rotateY(7deg) rotateZ(-18deg);
    }

    60% {
        transform:
            perspective(50em) rotateX(46deg) rotateY(9deg) rotateZ(-25deg);
    }

    90% {
        transform:
            perspective(50em) rotateX(42deg) rotateY(5deg) rotateZ(-18deg);
    }
}