.choose-player {
    display: none;
    z-index: 17;
}

.choose-player-content {
    background: linear-gradient(10deg,red,
    transparent,
    red,transparent),linear-gradient(-10deg, rgba(149, 178, 5, 0.795),
            transparent,
            rgba(255, 0, 0, 0.766), transparent)
    rgba(126, 1, 120, 0.644);
    width: 90%;
    padding: 10px;
    height: 90%;
    grid-template-rows: 15% 85%;
}

.choose-player-header button {
    position: absolute;
    color: #fff;
    background: inherit;
    border: 1.6px solid white;
    width: 40px;
    height: 40px;
    align-self: flex-start;
     
}

.choose-player-header button:hover {
    background: gray;
}
.choose-player-players {
    border: 10px solid red;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    gap: 5px;
}

.choose-player-players:hover {
    overflow-y: scroll;
}

.choose-player-players>button {
    width: calc(100%/4.1);
    height: 200px;
    opacity: .9;
}

.player-chosen {
    box-shadow: 1px 1px 3px rgba(181, 5, 5, 0.7),
        -1px -1px 3px rgba(181, 5, 5, 0.7);
    z-index: 18;
    width: 50%;
    height: 50%;
    opacity: .9;
    margin: 0 20%;
    display: none;
    grid-template-rows: 75% 25%;
    grid-template-columns: 100%;
    background: linear-gradient(10deg,
            rgba(22, 22, 22, .8), transparent,
            rgba(22, 22, 22, .8), transparent);
}

.player-chosen-image {
    grid-template-columns: 80% 20%;
}

.player-chosen-image img {
    width: 80%;
    height: 90%;
}

.player-chosen-image button {
    margin-left: auto;
    font-size: large;
    width: 50%;
    height: 15%;
    color: #fff;
    background: rgba(22, 22, 22, .7);
    transition: all 1s;
}

.player-chosen-image button:hover {
    transition: all 1s;
    background: rgba(181, 5, 5, 0.7);
}

.chosen-player-name-cont {
    grid-template-columns: 80% 20%;
}

.chosen-player-name-cont>button {
    margin-top: auto;
    color: inherit;
    height: 70%;
    box-shadow: 1px 1px rgba(181, 5, 5, 0.7),
        -1px -1px rgba(181, 5, 5, 0.7);
    background: rgba(43, 181, 5, 0.7);
}

.chosen-player-name-cont>button:hover {
    background: rgba(37, 156, 4, 0.7);
}