* {
    margin: 0;
    padding: 0;
}

.par-bg {
    background: inherit;
}

.card-bg {
    background: linear-gradient(15deg, transparent,
            rgba(229, 230, 225, 0.7), transparent);
}

.top-banner {
    top: 0;
    position: absolute;
    width: 100%;
    height: 20vh;
    background: linear-gradient(10deg, rgba(255, 0, 0, 0.763),
                transparent,
                rgb(186, 107, 10), transparent), 
                linear-gradient(-10deg, rgba(149, 178, 5, 0.896),
                transparent,
                rgba(255, 0, 0, 0.566), transparent) 
                rgba(126, 1, 120, 0.544);
    box-shadow: inset 0 -1px 1px rgb(116, 118, 129);
    color: #fff;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 100%;
}

.game-cont {
    height: 100vh;
    background: rgba(22, 22, 22, .9);
    display: flex;
}

.scoreboard {
    display: flex;
    position: absolute;
    height: 10vh;
    width: 15%;
    bottom: 0;
    right: 0;
    color: #fff;
    background: rgba(10, 10, 10, 0.55);
    box-shadow: inset -2px 2px rgb(116, 118, 129, .3);
}


.logo-div img {
    width: 70%;
    height: 90%;
}

.coins {
    display: flex;
    position: absolute;
    height: 10vh;
    width: 25%;
    bottom: 0;
    left: 0;
    color: #fff;
    background: rgba(10, 10, 10, 0.55);
    box-shadow: inset -2px 2px rgb(116, 118, 129, .3);
}

.cover-cont {
    display: grid;
    grid-template-columns: repeat(7, calc(100%/7));
    width: 70%;
    height: 60%;
}

.landing-cards {
    box-shadow: inset 2px 2px rgba(44, 44, 43, 0.7),
        inset -2px -2px rgba(50, 51, 49, 0.7);
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.landing-cards:hover {
    cursor: pointer;
}

/* .front {
    display: none;
    position: absolute;
    width: 78%;
    height: 10%;
    transform:
        perspective(100em) rotateX(0deg) rotateY(-73deg) rotateZ(60deg) translateZ(-8.9rem) translateY(-1.69rem) translateX(6rem);
    border: 1px solid;
    border-color:
        red;
} */

.transformation {
    box-shadow:
        0px 30px 10px rgb(184, 194, 204),
        0px 0px 3px rgb(49, 116, 184);
    transform:
        perspective(50em) rotateX(40deg) rotateY(10deg) rotateZ(-18deg);
    border: 1.5px solid red;
    animation: board 3s;
    animation-play-state: running;
    animation-iteration-count: 5;
}


.blue {
    background: rgba(24, 60, 240, 0.941);
}

.green {
    background: rgba(120, 213, 44, 0.937);
}

.pop-up {
    position: absolute;
    margin-top: 10vh;
    height: 60%;
    width: 50%;
    background:
        linear-gradient(10deg, red,
            black,
            green, black,
            blue);
    animation-name: pop;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.card-mes {
    background: rgba(10, 10, 10, 0.97);
    height: 97%;
    width: 97%;
    color: white;
    display: grid;
    grid-template-rows: 20% 50% 10%;
}

.collapse-mes {
    position: absolute;
    display: flex;
    width: 7%;
    height: 7%;
    margin-left: 10%;
    right: 6px;
    transition: all 3s;
    border: none;
    background: rgb(156, 223, 10);
    font-weight: bolder;
}

.collapse-mes:hover {
    background: rgba(244, 65, 10, .4);
    color: #fff;
}

.die-cont {
    position: absolute;
    right: 0;
    margin-bottom: 43%;
    background: rgba(36, 37, 37, 0.664);
    box-shadow: inset 2px -2px rgb(116, 118, 129, .3);
    height: 15%;
    width: 20%;
    z-index: 16;
    color: #fff;
}

.die-roll {
    width: 50%;
    height: 40%;
    margin: auto;
    bottom: 0;
    background: rgba(205, 207, 202, 0.693);
    color: #fff;
    box-shadow: inset 2px -2px rgb(116, 118, 129, .3),
        2px -2px rgb(116, 118, 129, .3);

    border: none;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.die-roll:hover {
    background: rgba(15, 90, 24, 0.493);
    transition: all 3s;
}

.plyng-box {
    z-index: 10;
    margin-bottom: 1%;
    margin-left: 20%;
    position: relative;
    background: red;
    font-weight: bolder;
    height: 60%;
    width: 50%;
}

.box-cont {
    width: 90%;
    height: 90%;
}

.top {
    z-index: 16;
    background: rgb(99, 99, 185);
    width: 90%;
    height: 90%;
    transform:
        perspective(50em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

.left {
    z-index: 16;
    /* position: relative; */
    background: rgb(184, 194, 204);
    width: 90%;
    height: 90%;

    transform:
        perspective(30em) rotateX(20deg) rotateY(60deg) rotateZ(0deg);
}

.right {
    z-index: 16;
    /* position: relative; */
    background: rgb(156, 223, 10);
    width: 90%;
    height: 50%;
    transform:
        perspective(10em) rotateX(100deg) rotateY(0deg) rotateZ(0deg);
}

.back {
    z-index: 16;
    /* position: relative; */
    background: rgb(49, 116, 184);
    width: 90%;
    height: 90%;
    transform:
        perspective(10em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

.play-game {
    color: #fff;
    border: none;
    width: 60%;
    height: 80%;
    font-size: 28px;
    border-radius: 100px;
    animation: play-b 7s;
    animation-iteration-count: infinite;
    animation-delay: 500ms;
    background: linear-gradient(10deg, rgba(255, 0, 0, 0.763),
                transparent,
                rgb(186, 107, 10), transparent),
            linear-gradient(-10deg, rgba(149, 178, 5, 0.896),
                transparent,
                rgba(255, 0, 0, 0.566), transparent) rgba(126, 1, 120, 0.544);
}

.play-game:hover {
    background: rgba(10, 15, 6, 0.937);
    transition: all 3s;
}



.text-center {
    text-align: center;
}

@media screen and (min-width: 1000px) {
    .cover-cont {
        width: 60%;
        margin-left: 20%;
    }

    .info {
        width: 60%;
    }

    .scoreboard {
        height: 13vh;
    }

    .logo-div img {
        width: 30%;
        /* height: 90%; */
    }

    .coins {
        height: 13vh;
        width: 15%;
    }

    .die-cont {
        width: 10%;
        margin-bottom: 22%;
    }

    .pop-up {
        height: 70%;
        width: 30%;
        left: 35%;
    }
}