.home-cont {
    width: 100%;
    height: auto;
}

.reg-form-cont {
    min-height: 83.4vh;
    width: 100%;
    background: linear-gradient(10deg,
            rgba(22, 22, 22, .7), transparent,
            rgba(22, 22, 22, .4), transparent,
            rgba(22, 22, 22, .3), transparent,
            rgba(22, 22, 22, .4), transparent);
}

.reg-form {
    width: 50%;
    height: 70%;
    columns: white;
    box-shadow: 1px 1px 2px rgba(143, 199, 2, 0.4),
        -1px -1px 2px rgba(143, 199, 2, 0.4);
    gap: 2%;
}

.reg-form p {
    height: 15%;
    font-size: 23px;
    text-shadow: 1px 1px rebeccapurple;
}

.reg-form input {
    background: rgba(143, 199, 2, 0.4);
    width: 70%;
    height: calc(60%/5);
    box-shadow: -1.5px 1.5px 1px rgba(4, 112, 207, 0.3);
    text-indent: 5px;
    border-radius: 10px;
    color: #fff;
}

.reg-form input:focus {
    background: rgba(53, 54, 54, 0.4);
}

.reg-form input:active {
    background: gray;
}

.reg-form button {
    width: 50%;
    background: inherit;
    height: 13%;
    box-shadow: 2px 2px rgba(28, 28, 28, .7);
    border-radius: 10px;
    color: #fff;
    transition: all 2s;
}

.reg-form button:hover {
    transition: all 1.2s;
    box-shadow: -1.2px -1.2px 2px rgba(28, 28, 28, .7);
    background: rgba(22, 22, 22, .3);
}