.main {
  width: auto;
  background: #282c34;
  gap: 10px;
  height: 100vh;
}

.nav-cont {
  width: 50%;
  border: 1px solid red;
  height: 50%;
}

.nav {
  box-shadow: 2px 2px rgba(134, 23, 245, 0.8),
    -2px -2px rgba(121, 15, 227, 0.8);
    border-radius: 5px;
}

.login-state {
  height: 80px;
  width: 80px;
  top: 0;
  right: 0;
  background: rgba(200, 233, 39, 0.7);
  box-shadow: 1px 1px rgba(166, 197, 8, 0.7),
      -1px -1px rgba(166, 197, 8, 0.7);
}
.login-state>svg{
  fill: #161718;
  width: 30px;
  height: 30px;
}

.nav>a {
  box-shadow: 1px 1px rgba(166, 197, 8, 0.7),
    -1px -1px rgba(166, 197, 8, 0.7);
  color: cyan;
}

.nav>a:hover {
  transition: all 1.5s;
  color: black;
  font-weight: bold;
  background: rgba(126, 127, 8, 0.5);
}

.body {
  background: rgba(166, 197, 8, 0.7);
}

.body-cont {
  height: auto;
  width: 100%;
  display: none;
}

.home {
  display: flex;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}