<div class="prof-cont  fill">
    <div class="prof-intro-cont fill">
        <div class="prof-img-cont fill">
            <div class="prof-img fill">
                <img src="static/assets/profile.jpg" class="fill" alt="">
            </div>
        </div>
        <div class="prof-desc-cont fill flex-col">
            <div class="prof-desc fill m-auto flex-row">
                <p class="p-tag">Hi my name is Jonas Lekgau I'm an enthusiastic,
                    dedicated and hard working self-taught
                    <span class="color-green">WEB-SOFTWARE DEVELOPER</span>
                    based in Johannesburg South Africa.<br>
                    Have 5 years experience in tech from troubleshooting to operating systems.
                    Posses a Professional Certificate in Google's IT Support.
                    Welcome me into your company and my gratitude will portray in my code.
                    Send me an <a class="link color-green" href="mailto:jonaslekgau@gmail.com" type="email">Email</a>
                    or
                    Check out my <a class="link color-green" href="https://codewithwest.github.io/templates/resume/"
                        type="email">Resume</a>.
                </p>
            </div>
            <div class="tech-stacks fill flex-row">
                <img src="static/assets/techStacks/js.png" alt="">
                <img src="static/assets/techStacks/css.png" alt="">
                <img src="static/assets/techStacks/node.png" alt="">
                <img src="static/assets/techStacks/php.png" alt="">
                <img src="static/assets/techStacks/mysql.png" alt="">
                <img src="static/assets/techStacks/react.png" alt="">
                <img src="static/assets/techStacks/python.png" alt="">
                <img src="static/assets/techStacks/flutter.png" alt="">
                <img src="static/assets/techStacks/mongo.png" alt="">
                <img src="static/assets/techStacks/git.png" alt="">
                <img src="static/assets/techStacks/firebase.png" alt="">
                <img src="static/assets/techStacks/c.png" alt="">
                <img src="static/assets/techStacks/figma.png" alt="">
                <img src="static/assets/techStacks/docker.png" alt="">
            </div>
        </div>
    </div>

    <!-- End of Profile -->
    <div class="proj-nav-btns d-flex fill center-content">
        <div class="inner-proj-btns-cont d-flex  j-sb">
            <button class="btns color-green">
                Web
            </button>
            <button class="btns color-green">
                MOBILE
            </button>
            <!-- <button class="btns color-green">
                DESKTOP
            </button>
            <button class="btns color-green">
                IT SUPPORT
            </button> -->
        </div>
    </div>
    <!-- Different project Links -->
    <div class="proj-overlay fill flex-row">

    </div>
</div>
</div>
</div>