.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}

.j-sb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.j-sa {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.m-auto-vert {
    margin: auto 0;
}

.links {
    text-decoration: none;
    color: inherit;
}

.links:hover {
    text-decoration: underline;
}

.m-auto-hor {
    margin: 0 auto;
}

.d-flex {
    display: flex;
    flex-direction: row;
}

.d-none {
    display: none;
}

.m-auto {
    margin: auto;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.fw-bold {
    font-weight: bold;
}

.icons {
    color: #fff;
}

.text-center {
    text-align: center;
}

.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fill {
    width: 100%;
    height: 100%;
}

.test-bg {
    background: rgba(22, 22, 22, .7);
}

.border {
    border: 1px solid red;
}

.bg-none {
    background: none;
}

.b-none {
    border: none;
}

.radius-circle {
    border-radius: 100px;
}

.bg-success {
    background: rgba(5, 215, 12, .3);
    color: #fff;
}

.bg-fail {
    background: rgba(232, 31, 4, 0.4);
    color: #fff;
}

.text-und {
    text-decoration: underline;
}