<div class="projectBox projectBox0">
    <div class="projectInfo">
        <div class="projectName">
            <p>REVERSED</p>
        </div>
        <div class="projectDesc">
            <p>PHP Served site using Xammp and an SQL database.<br />
                Site allows registering,signing in users, features
                updating user data deleting and logging out.
            </p>
        </div>
        <div class="projectLinks">
            <!-- <a href=""><img src="./static/assets/techStacks/home.png" alt="live site" srcset=""></a> -->
            <a href="https://github.com/codewithwest/reversed_php.git"><img src="./static/assets/techStacks/github.png"
                    alt="live site" srcset=""></a>
        </div>
        <div class="projectTechStacks">
            <img src="./static/assets/techStacks/css.png" alt="">
            <img src="./static/assets/techStacks/js.png" alt="">
            <img src="./static/assets/techStacks/mysql.png" alt="">
            <img src="./static/assets/techStacks/php.png" alt="">
        </div>
    </div>
</div>
<!-- ProjectBox 2 -->
<div class="projectBox projectBox1">
    <div class="projectInfo">
        <div class="projectName">
            <p>WeSkate</p>
        </div>
        <div class="projectDesc">
            <p>SPA Served in node with express and json for database read and writes.<br>
                This was to mimic the e-commerce features with sign-up and sign-out.
            </p>
        </div>
        <div class="projectLinks">
            <!-- <a href=""><img src="./static/assets/techStacks/home.png" alt="live site" srcset=""></a> -->
            <a href="https://github.com/codewithwest/weSkate_SPA.git"><img src="./static/assets/techStacks/github.png"
                    alt="live site" srcset=""></a>
        </div>

        <div class="projectTechStacks">
            <img src="./static/assets/techStacks/css.png" alt="">
            <img src="./static/assets/techStacks/js.png" alt="">
            <img src="./static/assets/techStacks/node.png" alt="">
        </div>
    </div>
</div>
<!-- Projects box 3 -->
<div class="projectBox projectBox2">
    <div class="projectInfo">
        <div class="projectName">
            <p>Connex Clone</p>
        </div>
        <div class="projectDesc">
            <p>The site mimics the connex e-commerce site's landing page.<br>
                It only features the front-end part of the site with little to no functionality.
            </p>
        </div>
        <div class="projectLinks">
            <!-- <a href=""><img src="./static/assets/techStacks/home.png" alt="live site" srcset=""></a> -->
            <a href="https://github.com/codewithwest/connex_clone.git"><img src="./static/assets/techStacks/github.png"
                    alt="live site" srcset=""></a>
        </div>

        <div class="projectTechStacks">

            <img src="./static/assets/techStacks/css.png" alt="">
            <img src="./static/assets/techStacks/js.png" alt="">
            <!-- <img src="./static/assets/techStacks/mysql.png" alt="">
            <img src="./static/assets/techStacks/php.png" alt=""> -->
        </div>
    </div>
</div>
<!-- Project Box 4 -->

<div class="projectBox projectBox3">
    <div class="projectInfo">
        <div class="projectName">
            <p>AI HUB</p>
        </div>
        <div class="projectDesc">
            <p>Entry Level project written to drop in
                into the web development learnership
                It portrays my favorite topic over three pages </p>
        </div>
        <div class="projectLinks">
            <!-- <a href=""><img src="./static/assets/techStacks/home.png" alt="live site" srcset=""></a> -->
            <a href="https://github.com/codewithwest/AI-Hub_website"><img src="./static/assets/techStacks/github.png"
                    alt="live site" srcset=""></a>
        </div>

        <div class="projectTechStacks">

            <img src="./static/assets/techStacks/css.png" alt="">
            <img src="./static/assets/techStacks/js.png" alt="">
        </div>
    </div>
</div>